$main: #193C2A;
$sub: #6D7571;
$sub_H: #424242;
$main_H: #102e1f;
$gray: #363636;
$crit: #E84D2E;
$crit_H: #C4462C;
$edit: #EE8400;
$edit_H: #b86a0a;
$success: #00A651;
$success_H: #007A3B;
$alert: #FEC006;
$alert_H: #ca9800;
$common: #5C7B7B;
$common_H: #405353;
$BG: #F8FFF6;
$disabled: #F5F5F5;